body, td, th {
	font-family: sans-serif;
}

div#header {
	background-color: #333333;
	color: white;
}
div#header img {
	float: left;
}

div#header div {
	display: inline;
}

div#header h1 {
	display: inline;
}

div#header ul {
	display: inline;
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
}
div#header li {
	display: inline;
	padding-left: 2em;
}
div#header li:before {
	content: "-";
}

div#header a:link {
	color: #9999FF;
	font-weight: bold;
}

div#header a:visited {
	color: #FF99FF;
	font-weight: bold;
}

div#content {
	margin-left: 130px;
}

div#footer {
	clear: both;
	margin-top: 2em;
	border-top: 1px solid #333333;
	padding-top: 1em;
	font-size: 80%;
	color: #333333;
	text-align: center;
}
